.required-asterisk {
  color: red;
}

#base-variations-container {
  display: flex;
}

#base-form {
  margin-right: 1rem;
}

#select-option-container {
  display: flex;
}

#select-option-fields {
  margin-right: 0.5rem;
}

#option-set-table {
  width: auto;
}

#variations-table {
  width: auto;
}

.field-row {
  .field-title {
    font-weight: bold;
  }
  .field-required {
    text-align: center;
    width: 5rem;
  }
}

.option-row {
  .option-sku {
    width: 8rem;
  }
  .option-price {
    text-align: right;
    width: 9rem;
  }
  .option-default {
    text-align: center;
    width: 4rem;
  }
}

#option-form-fields {
  #ul-add-fields {
    display: inline-block;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    li {
      display: inline;
    }
  }
}
